<main>
  <div class="container">
    <div class="center">
      <h3>Inbox</h3>
    </div>
    <div class="main">
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="images/yuna.jpg" alt="" class="circle">
          <span class="title">RE: subject</span>
          <p>From: admin <br>
             2017/07/18
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle pink">favorite</i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">mail_outline</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Title</span>
          <p>First Line <br>
             Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
        </li>
      </ul>
    </div>
  </div>
</main>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".button-collapse").sideNav();
    });
  </script>  
