Improved API to work with Android application
# Please enter the commit message for your changes. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.
#
# Committer: user <user@user-no-MacBook-Air-2.local>
#
# On branch heroku
# Your branch is up to date with 'origin/heroku'.
#
# Changes to be committed:
#	modified:   app/controllers/auth_api_controller.rb
#	modified:   app/models/episode.rb
#	modified:   app/models/show.rb
#	modified:   db/schema.rb
#
