<% if scope.any? %>
  <div class="hf-section">
    <%= hf_header(title, link_title: t('anime.other.more'), link: (defined?(link) && link).presence) %>
    <div class="thumbs-section">
      <div class="columns is-multiline is-mobile is-gapless shows">
        <% scope.each do |show| %>
          <%= link_to(show, class: "column is-12-mobile is-6-tablet is-3-desktop #{defined?(allow_widescreen) && allow_widescreen && 'is-2-widescreen'}") do %>
            <%= render ShowThumbnailComponent.new(show: show, focus_platform: platform) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
