<div class="container">
  <%= render 'shows/partial/insights' %>

  <div class="hf-section">
    <div class="chip-holder">
      <% @show.tags.each do |tag| %>
        <div class="chip"><small><%= tag.value %></small></div>
      <% end %>
    </div>
  </div>

  <p id="description" class="description selectable"><%= @show.description %></p>
</div>
