<% if @show.has_trailer? %>
  <div class="container">
    <h2 class="subtitle">You are watching <%= @show.title %>...</h2>
    <iframe width="100%" height="600px" src="<%= @show.youtube_trailer_url %>" allowfullscreen></iframe>
  </div>
<% end %>
