<div class="is-poster" style="margin-bottom: .5rem;">
  <%= internal_container do %>
    <div class="card" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('<%= show.poster_url %>'); background-size: cover;">
      <small class="card-header-title has-text-white">
        <div class="columns is-multiline is-gapless">
          <% (show.platforms(focus_on: platform&.name)).each do |platform| %>
            <div class="column is-2 is-hidden-mobile" style="width: auto; display: inline;">
              <span class="show-url-image">
                <%= image_tag(platform.icon, class: 'tiny round', style: 'margin-right: 1px;') %>
              </span>
            </div>
          <% end %>
        </div>
      </small>
      <div class="card-content">
        <div class="show-details">
          <small class="clamped long-title"><%= show.title %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
