<footer class="footer dark-background-1">
  <div class="content has-text-centered">
    <% if logged_in? %>
      <p><%= t('header.signed-in', username: current_user.username).html_safe %></p>
    <% else %>
      <%= link_to(t('welome.login.login'), '/login') %>
    <% end %>
  </div>
  <div class="content has-text-centered">
    <%= render 'shared/language_change' %>
  </div>
  <div class="content has-text-centered">
    <p>
      <small>
        &copy; 2016-2019 Tanoshimu (Have Fun) - YourAnime by <a href="https://www.akinyele.ca"><strong>Akinyele Cafe-Febrissy</strong></a>
      </small>
    </p>
  </div>
</footer>
