<footer class="footer dark-background-1">
  <div class="content has-text-centered">
    <span class="locale-switcher" locale-switcher="en"><%= t('lang.en') %></span>・
    <span class="locale-switcher" locale-switcher="fr"><%= t('lang.fr') %></span>・
    <span class="locale-switcher" locale-switcher="jp"><%= t('lang.jp') %></span>
  </div>
  <div class="content has-text-centered">
    <p>
      <small>
        &copy; 2016-2019 Tanoshimu (Have Fun) - Anime Akinyele by <a href="https://www.akinyele.ca"><strong>Akinyele Cafe-Febrissy</strong></a>
      </small>
    </p>
  </div>
</footer>
