<% @back_name = " to #{@back_name}" if @back_name.to_s.strip.size > 0 %>
<a class="btn" style="margin: 10px; padding-bottom: 10px;" href="<%= @url %>">
    <i class="material-icons">reply</i>
    Go back<%= @back_name %>
</a>
