   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tanoshimu</a>
      <a href="#" data-activates="tanoshimu-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/shows">Anime</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/shows/episodes/random">Random</a></li>
        <li><a href="/shows/history">Episode history</a></li>
        <li><a href="/settings">Account Settings</a></li>
      </ul>
      <ul class="side-nav" id="tanoshimu-nav">
        <li><a href="/shows">Anime</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/shows/episodes/random">Random</a></li>
        <li><a href="/shows/history">Episode history</a></li>
        <li><a href="/settings">Account Settings</a></li>
      </ul>
    </div>
  </nav>