#next_episode_container
    h3 Next episodes...
    .text-center
        button#toggle_watched.hidden.btn.btn-default\
        
    - if @episode.is_last?
        - if @episode.show.episodes.size > 5
            p Wow, you've aleady watched #{@episode.show.episodes.size} episodes!
        - else
            p That's it!
    - elsif @episode.is_first?
        p This is the first episode, there's plenty more to watch!

    #episodes.collection
        - @episode.show.episodes(from: @episode).each do |episode|
            - next if @episode == episode
            - break if episode.id == @episode.show.episodes.first.id
            - url = '/shows/episodes?id=' + episode.id.to_s
            - watched = "active" if episode.was_watched_by? current_user
            a.collection-item class="#{watched}" href="#{url}" #{episode.episode_number}) #{episode.title}

javascript:
    var nextEpisodeContainer = $('#next_episode_container');
    var episodes = nextEpisodeContainer.find('#episodes');
    var toggleWatchedButton = $('#toggle_watched');

    var defaultText = 'Hide watched episodes';
    var showAllText = 'Show all episodes';


    $(document).ready(function() {
        toggleWatchedButton.html(defaultText);
        toggleWatchedButton.on('click', function(e) {
            if (!toggleWatchedButton.hasClass('on')) {
                hideEpisodes();
            } else {
                showEpisodes();
            }
        });
    });

    function hideEpisodes() {
        setEpisodes(false);
        toggleWatchedButton.html(showAllText);
        toggleWatchedButton.addClass('on');
        toggleWatchedButton.removeClass('btn-default');
        toggleWatchedButton.addClass('btn-success');
    }

    function showEpisodes() {
        setEpisodes(true);
        toggleWatchedButton.html(defaultText);
        toggleWatchedButton.removeClass('on');
        toggleWatchedButton.addClass('btn-default');
        toggleWatchedButton.removeClass('btn-success');
    }

    function setEpisodes(enabled) {
        children = episodes.children();
        for (var i = 0; i < children.length; i++) {
            episode = children[i];
            if (episode.classList.contains('next_episode')) {
                if (enabled) {
                    episode.classList.remove('hidden');
                } else {
                    if (episode.classList.contains('watched')) {
                        episode.classList.add('hidden');
                    }
                }
            }
        }
    }

