div.no-video.hidden
    span Sorry, it appears this video is broken. Please contact the administrator of the website. 
    span If you have admin rights, please login 
    a href="" here.

div style="margin-top: 10px;"
    video#episode_video.video-js.vjs-big-play-centered class="video-js vjs-default-skin" width="640" height="264" controls="true" data-setup='{"fluid": true}'
        source src="#{asset_path(@episode.get_path)}" type="video/mp4"
        source src="#{asset_path(@episode.get_path)}" type="video/mkv"
        source src="#{asset_path(@episode.get_path)}" type="video/avi"
        span MP4 not supported or video not found.

script src="https://vjs.zencdn.net/#{videojs_version}/video.js"
script src="/js/nextEpisode.js"

link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
ul.pager
    - if @episode.has_previous?
        li.previous
            a href="/shows/episodes?id=#{@episode.previous.id}"Episode #{@episode.previous.episode_number}
    - else
        li.previous
            a.none None

    - if @episode.has_next?
        li.next
            a href="/shows/episodes?id=#{@episode.next.id}"Episode #{@episode.next.episode_number}
    - else
        li.next
            a href="/shows" style="color: red; float: right;" Done. More?

    .text-cente
        button#resume_video.btn.btn-success.hidden Resume from last time

- if @episode.has_watched_mark?
    javascript:
        var watchedMark = parseInt(#{@episode.get_watched_mark});
- else
    javascript:
        var watchedMark = 91;

javascript:
    var video = document.getElementById('episode_video');
    var buttonResume = document.getElementById('resume_video');
    var isWatched = #{@episode.was_watched_by? current_user}
    var videoId = #{@episode.id};
    var userId = #{current_user.id};
    var markedAsWatched = false;
    var videoInfo = {
        videoId: videoId,
        userId: userId
    };

    episode = getVideoFor(userId, videoId);

    video.addEventListener('timeupdate', function() {
        var currentTime = parseInt(video.currentTime);
        var duration = parseInt(video.duration);
        videoInfo.currentTime = currentTime;
        var ratio = (currentTime / duration) * 100;
        videoInfo.ratio = ratio

        if (currentTime > 10) {
            update(videoInfo);
        }
        
        if (currentTime % 8 != 0) {
            return;
        }

        if (ratio >= watchedMark) {
            setWatched(videoInfo);
        }
    });

    $('document').ready(function() {
        window.addEventListener('keydown', function(e) {
            if (e.keyCode === 32 && e.target == document.body) {
                e.preventDefault();
            }
        });

        document.addEventListener('keyup', function(e) {
            target = e.target;
            tagName = target.tagName;
            if (tagName == "TEXTAREA" || tagName == "INPUT") {
                return;
            }
            if (e.keyCode === 32) {
                if (video && video.play) {
                    if (video.paused) {
                        video.play();
                    } else {
                        video.pause();
                    }
                }
            } else if (e.keyCode == 37 || e.keyCode == 39) {
                if (e.keyCode == 37) {
                    video.currentTime -= 10;
                } else {
                    video.currentTime += 10;
                }
            }
        });
    });

    videojs('episode_video').ready(function() {
        var vjsPlayer = this;
        vjsPlayer.on("pause", function() {
            vjsPlayer.bigPlayButton.show();
        });
        vjsPlayer.on("play", function() {
            vjsPlayer.bigPlayButton.hide();
        });
        vjsPlayer.play();
    });

    var videosList = localStorage.getItem('videos');
    if (videosList == null) {
        localStorage.setItem('videos', "[]");
    }
    
    videosList = getVideosList();

    if (isCurrentEpisode(episode)) {
        // Then there is some history with this video
        buttonResume.classList.remove('hidden');
        buttonResume.onclick = function(e) {
            var currentTime = episode.currentTime;
            if (currentTime > 3) {
                currentTime -= 3;
            }
            video.currentTime = currentTime;
            video.play();
            buttonResume.classList.add('disabled');
        };
    }

    function update(episode) {
        console.log("Updating episode");
        videosList = getVideosList();
        var index = -1;
        for(var i = 0; i < videosList.length; i++) {
            foundEpisode = videosList[i];
            if (foundEpisode.userId != userId || foundEpisode.videoId != videoId) {
                continue;
            }
            index = i;
        }
        if (index != -1) {
            videosList[index] = episode;
        } else {
            videosList.push(episode);
        }
        setVideosList(videosList);
    }

    function setWatched(episode) {
        console.log("Making episode as watched...");
        if (markedAsWatched) {
            console.log("Already marked as watched.");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/json/setWatched',
            data: 'id=' + videoId,
            success: function(response) {
                markedAsWatched = true;
            },
            fail: function() {
                console.log('Setting episode to watched failed.');
            }
        });
    }

    function setVideosList(list) {
        localStorage.setItem('videos', JSON.stringify(list));
    }

    function getVideosList() {
        if (localStorage.getItem('videos') == null) {
            localStorage.setItem('videos', "[]");
        }
        return JSON.parse(localStorage.getItem('videos'));
    }

    function getVideoFor(givenUserId, videoId) {
        videosList = getVideosList();
        if (givenUserId != userId) {
            console.log('Not permitted to get from other users.');
            return null;
        }
        for(var i = 0; i < videosList.length; i++) {
            foundEpisode = videosList[i];
            if (foundEpisode.userId == givenUserId && foundEpisode.videoId == videoId) {
                return foundEpisode;
            }
        }
        return null;
    }

    function isCurrentEpisode(episode) {
        return episode != null && episode.userId == userId && episode.videoId == videoId;
    }
