div.no-video.hidden
    span Sorry, it appears this video is broken. Please contact the administrator of the website. 
    span If you have admin rights, please login 
    a href="" here. 

video#episode_video style="margin-top: 10px;" class="video-js vjs-default-skin" width="100%" height="80%" controls="true"
    source src="#{asset_path(@episode.get_path)}" type="video/mp4"
    source src="#{asset_path(@episode.get_path)}" type="video/mkv"
    source src="#{asset_path(@episode.get_path)}" type="video/avi"
    span MP4 not supported or video not found.


link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
ul.pager
    - if @episode.has_previous?
        li.previous
            a href="/shows/episodes?id=#{@episode.previous.id}"Episode #{@episode.previous.episode_number}
    - else
        li.previous
            a.none None

    - if @episode.has_next?
        li.next
            a href="/shows/episodes?id=#{@episode.next.id}"Episode #{@episode.next.episode_number}
    - else
        li.next
            a href="/shows" style="color: red; float: right;" Done. More?

    .text-cente
        button#resume_video.btn.btn-success.hidden Resume from last time

javascript:
    var video = document.getElementById('episode_video');
    var buttonResume = document.getElementById('resume_video');
    var videoId = #{@episode.id};
    var userId = #{current_user.id};
    var videoInfo = {
        videoId: videoId,
        userId: userId
    };

    video.play();

    episode = getVideoFor(userId, videoId);

    video.addEventListener('timeupdate', function() {
        var currentTime = video.currentTime;
        videoInfo.currentTime = currentTime;
        if (currentTime > 10) {
            update(videoInfo);
        }
    });

    var videosList = localStorage.getItem('videos');
    if (videosList == null) {
        localStorage.setItem('videos', "[]");
    }
    
    videosList = getVideosList();

    if (isCurrentEpisode(episode)) {
        // Then there is some history with this video
        buttonResume.classList.remove('hidden');
        buttonResume.onclick = function(e) {
            var currentTime = episode.currentTime;
            if (currentTime > 3) {
                currentTime -= 3;
            }
            video.currentTime = currentTime;
            video.play();
            buttonResume.classList.add('disabled');
        };
    }

    function update(episode) {
        console.log("Updating episode");
        videosList = getVideosList();
        var index = -1;
        for(var i = 0; i < videosList.length; i++) {
            foundEpisode = videosList[i];
            if (foundEpisode.userId != userId || foundEpisode.videoId != videoId) {
                continue;
            }
            index = i;
        }
        if (index != -1) {
            videosList[index] = episode;
        } else {
            videosList.push(episode);
        }
        setVideosList(videosList);
    }

    function setVideosList(list) {
        localStorage.setItem('videos', JSON.stringify(list));
    }

    function getVideosList() {
        if (localStorage.getItem('videos') == null) {
            localStorage.setItem('videos', "[]");
        }
        return JSON.parse(localStorage.getItem('videos'));
    }

    function getVideoFor(givenUserId, videoId) {
        videosList = getVideosList();
        if (givenUserId != userId) {
            console.log('Not permitted to get from other users.');
            return null;
        }
        for(var i = 0; i < videosList.length; i++) {
            foundEpisode = videosList[i];
            if (foundEpisode.userId == givenUserId && foundEpisode.videoId == videoId) {
                return foundEpisode;
            }
        }
        return null;
    }

    function isCurrentEpisode(episode) {
        return episode != null && episode.userId == userId && episode.videoId == videoId;
    }
