
<div class="video-body">
  <div class="controls-container">
    <div class="gradient top"></div>
    <div class="gradient bottom"></div>
    <div class="controls-zone">
      <div class="back-button" go-to-show="<%= @episode.show.id %>">
        <%= image_tag("baseline-arrow_back-24px", width: "35px") %>
      </div>
      <div class="controls-bottom">
        <div class="hf-progress">
          <div class="progress-bar-mgmt">
            <div class="progress-bar-cont">
              <div class="progress-bar"></div>
            </div>
          </div>
          <div class="progress-elapsed">
            <time class="remaining">00:00:00</time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video">
    <%= video_tag @episode.get_video_url, controls: false, autoplay: true %>
  </div>
</div>
