<% if @shows.empty? %>
  <div class="text-center">
    <div class="vertical-center">
      <div class="wrapper">
        <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
      </div>
    </div>
  </div>
<% else %>
  <div style="padding-bottom: 55px;">
    <div class="container-fluid">
      <div class="hf-section">
        <h3><%= t('anime.shows.view-all') %></h3>
      </div>
    </div>

    <div class="container-fluid">
      <div id="shows">
        <%= render 'admin/shows/thumbs' %>
      </div>

      <div id="infinite-scrolling">
        <%= will_paginate @shows %>
      </div>
    </div>
  </div>
<% end %>
