<% unless @_models[:cut].empty? %>
  <div class="thumbs-section">
    <div class="columns is-gapless no-margin shows" style="margin-top: 15px;">
      <% @_models[:cut].each_with_index do |model, index| %>
        <% @_rule = {} %>
        <% @_thumb_info = {} %>
        <% if model %>
          <% key = :show_value if model.class == Show %>
          <% key = :ep_value if model.class == Episode %>
          <% @_thumb_info[key] = model.id %>
        <% end %>

        <% @model = model %>
        <% if model %>
          <%= link_to(model, class: "column #{"no-click" if model.nil?}") do %>
            <%= show_thumb(@model, rules: @_rule) %>
          <% end %>
        <% else %>
          <div class="empty column with no data haha you got fooled :p"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
