<div>
    <style type="text/css">
        .in-maintenance::after {
            background: url(/img/in-maintenance.jpg);
            opacity: 0.4;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-head">
        <header class="navbar">
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <div class="buttons">
                  <%= link_to(logout_path, class: 'button is-danger is-icon') do %>
                    <i class="material-icons">power_settings_new</i>
                  <% end %>
                </div>
              </span>
            </div>
          </div>
        </header>
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            HaveFun (Tanoshimu) - In maintenance
          </h1>
          <h2 class="subtitle">
            We are currently in maintenance. We appolozige for the incovenience.
          </h2>
        </div>
      </div>
    </section>
</div>
