
  <% host = Config.main_host %>

  <% show_ids = [49, 60, 56, 54, 46, 47, 51, 55, 52] %>

  <div class="carousel carousel-slider">
    <% show_ids.each do |show_id| %>
      <% show = Show.find_by id: show_id %>
      <% next if show.nil? %>
      <a class="carousel-item" href="/shows?id=<%= show_id %>"><img style="object-fit: cover;" src="<%= show.get_image_path(current_token) %>"></a>  
    <% end %>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
          $('.carousel.carousel-slider').carousel({fullWidth: true});
      });
      $(document).ready(function(){
          $('.carousel').carousel();
      });
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
          $('.carousel.carousel-slider').carousel({fullWidth: true});
      });
  </script>
  
