

  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/91.jpg"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/alice.jpg"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/date-a-live.jpg"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/dimension-w.png"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/handa-kun.jpg"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/iiwtttpugiad.jpg"></a>
    <a class="carousel-item" href="#one!"><img style="object-fit: cover;" src="http://99.236.240.169/videos/icons/boku-no-hero-academia.png"></a>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
          $('.carousel.carousel-slider').carousel({fullWidth: true});
      });
  </script>
  <script type="text/javascript">
      $(document).ready(function() {
          $('.carousel.carousel-slider').carousel({fullWidth: true});
      });
  </script>
  