/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "materialize";

@font-face {
    font-family: 'opensans'; /*a name to be used later*/
    src: url('/fonts/opensans/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'opensans-bold'; /*a name to be used later*/
    src: url('/fonts/opensans/OpenSans-Bold.ttf'); /*URL to font*/
}

body {
    font-family: opensans;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

a {
    color: #ddd;
}

.navbar {
    margin: 0;
}

.current {
    background: lightgrey;
}

.hero-image {
    height: 175px;
    margin: 20px;
    border-radius: 200px;
    float: center;
}

.hero-image.square {
    border-radius: 0px;
}

.hero-image.fit {
    object-fit: cover;
}

.hero-image.small {
    height: 75px;
}

p.small, span.small {
    size: 50%;
}

p.very.small, span.very.small {
    size: 25%;
}

.back.hero-image {
    /* background: rgba(99,99,139,1); */
}

.tiny.hero-image {
    height: 60px;
}

.wrapper {
    position: absolute;
    display: table;
    width: 100%;
}

.vertical-center {
    min-height: 100%;
    min-height: 90vh;
    
    display: flex;
    align-items: center;
}

#login-form input, button {
    margin: 5px;
}

#login-form .input, .login, .tanoshimu {
    height: 40px;
    outline: none;
    border: white;
    padding: 5px 15px;
    /* background: rgba(99,99,139,0.9); */
    border-radius: 10px;
    border: 1px solid #aaa;
}

input.tanoshimu {
    height: 35px;
}

textarea.tanoshimu {
    height: auto;
    outline: none;
    padding: 10px 15px;
}

textarea.tanoshimu:focus {
    outline: none;
}

.btn {
    border-radius: 20px;
}

.well {
    border-radius: 0;
    margin: 0;
    border: 1px solid #eee;
}

.well.space {
    margin-bottom: 20px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li a,
.pager li span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

.previous, .next {
  color: #337ab7;
}




.login-register-error, .message-error {
    color: #990000;
    font-weight: bold;
}

.login-register-waiting, .message-waiting {
    color: #b3b300;
    font-weight: bold;
}

.login-register-success, .message-success {
    color: #004d00;
    font-weight: bold;
}

.message-success {
    color: green;
    font-weight: bold;
    margin: 0 auto;
}

button, input[type="submit"] {
    background: rgba(35, 144, 35, 1);
    border: none;
    color: white;
    outline-color: white;
    outline-width: thin;
}

.login-register-error {
    color: #990000;
    font-weight: bold;
}






.mobile {
    display: none;
}
.bootstrap-mobile {
    display: none;
}
.wrapper {
    position: absolute;
    display: table;
    width: 100%; /* This could be ANY width */
    height: 100%; /* This could be ANY height */
}
.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content {
    display: inline-block;
    padding: 30px;
    width: 60%;
}

h1.show-title {
    text-align: center;
}

.body-content {
    position: relative;
    margin: 0 5% 5% 5%;
}

p.login-form {
    font-size: 250%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* input[type="text"], 
input[type="password"] {
    width: 50%;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="email"].focus,
input[type="password"]:focus,
input[type="password"].focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: solid 1px #707070;
}

input[type="checkbox"] {
    margin: 0 10px;
}

input[type="button"],
input[type="submit"].login {
    width: 30%;
    height: 35px;
    font-size: 15px;
}

input[type="submit"].edit {
    margin: 2px;
}

input[type="button"].focus,
input[type="submit"].focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #969696;
} */

p.welcome-message {
    font-weight: bold;
}

a.go-back {
    text-decoration: none;
    color: black;
}

a.go-back:hover {
    text-decoration: underline;
}

.disabled {
    pointer-events: none;
    cursor: default;
    font-style: italic;
    color: grey;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.form {
    label, input[type="submit"] {
        padding: 50px;
    }
}

.error {
    margin: 0 auto;
    width: auto;
    max-width: 60%;
    background: #ffc1c1;
    border: 0.5px solid #e58989;
    padding: 10px;
    border-radius: 5px;
    color: red;
}

.btn-option {
    width: 70%;
    margin: 2px;
}

.hidden {
    display: none;
}

#mobile {
    display: none;
}

.right {
    float: right;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.very.strong {
    font-weight: bold;
    text-decoration: underline;
}

#result_box {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 17%;
    padding: 5px;
    color: #fff;
    background: #353535;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-size: 13px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 99;
    text-align: left;
}

span.warning {
    color: orange;
}

span.danger {
    color: red;
}

/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.anime-bod {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

/**
 * Footer Styles
 */

.footer {
  margin-top: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 90%;
}

.description {
    margin-bottom: 5%;
}

.clickable {
    cursor: pointer;
}

@media (max-width: 992px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    .vertical-center {
        min-height: 100%;
        min-height: 85vh;
    }

    .hero-image {
        height: 130px;
        margin: 30px;
    }

    .description {
        font-size: 70%;
    }

    h1.show-title {
        font-size: 180%;
    }

    p.welcome-message {
        font-size: 70%;
    }

    input[type="text"], 
    input[type="password"] {
        width: 80%;
    }

    input[type="button"],
    input[type="submit"] {
        width: 50%;
    }

    .body-content {
        padding-top: 5px;
    }

    h1 {
        text-align: center;
    }

    p.login-form {
        margin: 20px 0 0 -20px;
    }

    a.go-back {
        margin: 10px 0 5px 15px;
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }

    .desktop {
        display: inline;
    }

    #mobile {
        display: inline;
    }
    #mobile a {
        margin: 5px 0 10px 0;
        width: 100%;
    }
    #mobile p.warning {
        margin: 10px;
        font-size: 60%;
        color: red;
    }

    .desktop {
        display: none;
    }

    .footer {
        text-align: center;
        font-size: 60%;
    }
}
