/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 $theme-colors: (
   primary: #6dccc0,
   notice: #B1D5A0,
   danger: #CC6D79, // complements primary,
   alert: #CC6D79,
   secondary: #417a73,
   warning: #CCC06D
 );

@import "bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
    font-family: 'opensans'; /*a name to be used later*/
    src: url('/fonts/opensans/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'opensans-bold'; /*a name to be used later*/
    src: url('/fonts/opensans/OpenSans-Bold.ttf'); /*URL to font*/
}

@font-face {
  font-family: "Ikaros";
  src: url('/fonts/ikaros/Ikaros-Regular.otf') format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url('/fonts/poppins/Poppins-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "FiraMono";
  src: url('/fonts/fira-mono/FiraMono-Regular.otf') format("truetype");
}

body {
  font-family: "Poppins" !important;
  font-size: 1rem !important;
}

nav.maintenance {
  background-color: #d87f11 !important;
}

.google-btn {
  color: #2E2F30;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 10px 25px;
  font-size: small;
  text-decoration: none !important;
}

.material-icons.scale {
  font-size: 100%;
}

.loading {
  background-position: center center;
  background-image: asset_url("thumb-loading-40.gif");
}

.vertical-center {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-caret::before,
.no-caret::after {
    content: none;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.borderless {
  border: none !important;
}

.no-overflow {
  overflow: hidden !important;
}

.no-padding {
  padding: 0 !important;
}

.no-outline:focus, .no-outline:active {
    outline: none !important;
    box-shadow: none !important;
}

.clickable {
  cursor: pointer;
}

.holder {
  position: relative;
  padding: 0 0 56.5%;
  overflow: hidden;

  .overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .overlay.darken::after {
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5) 0,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 50%,rgba(0,0,0,.5) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,.05) 50%,rgba(0,0,0,.05) 50%,rgba(0,0,0,.5) 100%);
    height: 100%;
    width: 100%;
    content: '';
  }

  img {
    z-index: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
  }
}

.thumb-overlay {
  width: 100%;
  height: 100%;
}

.image-card-container {
  color: white;
  position: relative;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  .description {
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

  .focusable {
    .card-img-top {
      max-width: 100% !important;

      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .card-img-top.descriptive {
      background-image: linear-gradient(to bottom, rgba(255,0,0,0), black); /* Standard syntax (must be last) */
    }
  }
}

.wrapper {
  position: absolute;
  display: table;
  width: 100%;
}

.p-absolute {
  position: absolute !important;
}

.tanoshimu-login {
  img.logo {
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
  }

  .form-signin, .form-signup {
    width: 90%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .login-messages {
    font-weight: bold;
  }

  .card {
    width: 95%;
    max-width: 500px;
    padding: 40px;
    margin: 0 auto;
  }

  .form-signin .form-control, .form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus, .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"], .form-signup input#user_name {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"], .form-signup input#user_password_confirmation {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signup input#user_password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.padded {
  padding: 40px;
}

@media (max-width: 992px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 992px) {
    main {
        padding-left: 0;
    }
}
@media (max-width: 480px) {
  .tanoshimu-login {
    img.logo {
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
    }
  }

    .hero-image {
        height: 130px;
        margin: 30px;
    }

    .description {
        font-size: 70%;
    }

    h1.show-title {
        font-size: 180%;
    }

    p.welcome-message {
        font-size: 70%;
    }

    input[type="button"],
    input[type="submit"] {
        width: 50%;
    }

    .body-content {
        padding-top: 5px;
    }

    h1 {
        text-align: center;
    }

    p.login-form {
        margin: 20px 0 0 -20px;
    }

    a.go-back {
        margin: 10px 0 5px 15px;
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }

    .desktop {
        display: inline;
    }

    #mobile {
        display: inline;
    }
    #mobile a {
        margin: 5px 0 10px 0;
        width: 100%;
    }
    #mobile p.warning {
        margin: 10px;
        font-size: 60%;
        color: red;
    }

    .desktop {
        display: none;
    }

    .footer {
        text-align: center;
        font-size: 60%;
    }
}
