.button.is-icon {
  padding: 0 5px !important;
  border-radius: 204896px;

  .material-icons {
    margin: 0 !important;
  }
}

.columns.is-tiny-gap {
  margin-top: 1px;
  margin-bottom: 1px;

  .column {
    padding: 0 !important;
    margin: 1px !important;
  }
}
