.button.is-icon {
  padding: 0 7px !important;
  border-radius: 204896px;

  .material-icons {
    margin: 0 !important;
  }
}

.columns.is-tiny-gap {
  margin-top: 1px;
  margin-bottom: 1px;

  .column {
    padding: 0 !important;
    margin: 1px !important;
  }
}

.navbar.has-shadow {
  box-shadow: 0 2px 0 0 #292929 !important;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #e0e0e0 !important;
}

input.is-dark {
  background-color: #3F3F3Fa0 !important;
  color: white;
  transition: 0.3s;
}

input.is-dark::placeholder { /* Firefox, Chrome, Opera */
  color: #b2b2b2;
}

input.is-dark:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2b2b2;
}

input.is-dark::-ms-input-placeholder { /* Microsoft Edge */
  color: #b2b2b2;
}

input.is-dark:hover {
  background-color: #3F3F3Fc0 !important;
  transition: 0.3s;
}

input.is-dark:focus {
  background-color: #3F3F3F !important;
}

.card {
  background-color: #303030 !important;
  color: #e0e0e0 !important;
}

.footer {
  padding-bottom: 4rem !important;
}
