// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-video {
    color: red;
    font-weight: bold;
}

.video-section {
    width: 70%;
}

.well.comments {
    background-color: #fff;
}

.well.watched {
    background-color: lightblue;
}
