// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chip {
    cursor: pointer;
    display: inline;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
}

.chip:hover {
    background-color: #CDCDCD;
}

.chip.active {
    background-color: #ee6e73;
    color: #fff;
}

.show-title {
  position: absolute;
  bottom: 30px;
}

.main.image {
    height: 480px;
    transform: scale(1.1);
}

.col-center {
    float: none;
    margin: 0 auto;
}

.like {
    background-image: url(/img/like_full_small.png);
    background-repeat: no-repeat;
    padding: 30px;
}

.not-like {
    background-image: url(/img/like_small.png);
    background-repeat: no-repeat;
    padding: 30px;
}

.top-tags-holder {
  position: absolute;
  top: -4px;
  left: 0px;
  z-index: 1;
  width: 100%;

  .badge, .tag {
    border-radius: 0;
    margin: 0 !important;
  }
}

.show-body {
  .head {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    z-index: 0;
    position: relative;
    height: 600px;
    padding: 0;
    top: -5.2rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(top,rgba(23,23,23,.2) 0,#262626);
    background: linear-gradient(180deg,rgba(23,23,23,.2) 0,#262626);
    z-index: 0;
  }
}

img.not-avail {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.title-img {
     object-fit: cover;
     width: 100%;
     height: 500px;
}

@media (max-width: 1400px) {
    .title-img {
        height: 375px;
    }
}

@media (max-width: 400px) {
    .title-img {
        height: 300px;
    }
}
