<p><strong>Episodes (<%= all_episodes.count %>)</strong> - <%= link_to(t('sidebar.admin.manage.episodes'), admin_show_episodes_path(@show)) %></p>

<% all_episodes.each_slice(slice).each do |episodes| %>
  <div class="row">
    <% episodes.each do |episode| %>
      <div class="col-md-<%= (12/slice).to_i %>" style="margin-top: 20px;">
        <% @_rule = {class: nil} %>
        <% @_thumb_info = {} %>
        <% @model = episode %>
        <% @_url = edit_admin_show_episode_path(episode.show, episode) %>
        <%= render partial: 'shows/partial/_thumbs' %>
      </div>
    <% end %>
  </div>
<% end %>
