<% if @shows.empty? %>
  <div class="text-center">
    <div class="vertical-center">
      <div class="wrapper">
        <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="hf-section">
      <h3><%= t('anime.shows.view-all') %></h3>
    </div>
  </div>

  <div class="container">
    <% @shows_parts.each do |shows| %>
      <div class="row" style="margin-top: 10px;">
        <% shows.each_with_index do |show| %>
          <div class="col-md-4">
            <% @_rule = {class: nil} %>
            <% @_thumb_info = {} %>
            <% @model = show %>
            <%= render 'shows/partial/_thumbs' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
