<% if @shows.empty? %>
  <div class="text-center">
    <div class="vertical-center">
      <div class="wrapper">
        <h4 class="text-muted"><%= t('anime.shows.empty') %></h4>
      </div>
    </div>
  </div>
<% else %>
  <div style="padding-bottom: 55px;">
    <div class="text-center" style="margin: 40px; display: grid;">
      <span class="title"><%= t('anime.shows.view-all') %></span>
      <small><i><%= t('anime.shows.search-result', count: @shows_count) %></i></small>
    </div>
    <div class="container is-fluid">
      <% @shows_parts.each do |shows| %>
        <div class="columns is-tiny-gap no-margin shows">
          <% shows.each_with_index do |show| %>
            <div class="column is-3" style="margin-top: 20px;">
              <% @_rule = {class: nil} %>
              <% @_thumb_info = {} %>
              <% @model = show %>
              <%= render 'shows/partial/_thumbs' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
