<script type="text/javascript">
  $(document).ready(function() {
    url = $('[target]').attr('target');
    $('<img/>').attr('src', url).on('load', function() {
      $('[target]').css('background-image', "url(" + url + ")");
      $('.hero-body').fadeIn(2000);
    });
  });
</script>

<section class="hero is-fullheight dark-background-2 is-bold">
  <div class="hero-body has-img-background" style="display: none;" target="<%= backdrop_url %>">
    <div class="overlay">
      <div class="content">
        <div class="ui has-centered-text container pos-inherit grid">
          <div class="show-title" style="width: 80%;">
            <span class="title">
              Your anime
            </span>
            <span class="">
              Yours alone.
            </span>
            <div class="hf-section">
              <div class="columns" style="margin: 10px auto;">
                <div class="column">
                  <button class="button is-info is-large is-fullwidth">Sign up now</button>
                </div>
                <div class="column">
                  <button class="button is-primary is-inverted is-outlined is-large is-fullwidth">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium dark-backgrousnd-2 is-bold">
  <div class="hero-body" style="padding-top: 6rem">
    <div class="container">
      <div class="demo thumbs">
        <%= render partial: 'application/partials/newest_shows', locals: {
              title: 'Newest shows',
              elements: @latest_shows,
              resource: :banner_url,
              resource_type: :show,
            } %>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        What makes us different
      </h1>
      <div class="columns has-text-centered jumbo">
        <div class="column">
          <i class="material-icons is-large">share</i>
          <h4 class="subtitle">Create several queues, share them.</h4>
          <p>
            Don't limit yourself to only one list!
            Create lists for what you're watching, what you're planning to watch, etc.
            Be in control of how you organize your anime.
          </p>
        </div>
        <div class="column">
          <i class="material-icons is-large">group_work</i>
          <h4 class="subtitle">Make recommendations.</h4>
          <p>
            Anything you want to share to your friend? Your partner? Your family? A stranger?
            Easily share a show, an episode, anything that's viewable.
          </p>
        </div>
        <div class="column">
          <i class="material-icons is-large">format_paint</i>
          <h4 class="subtitle">Personalize your interface.</h4>
          <p>
            Tired of seeing the default theme? Choose how the site looks like from a palette
            of preset colours! You can also have more control for this too!
          </p>
        </div>
      </div>
      <div class="columns" style="width: 60%; margin: 0 auto;">
        <button style="margin-top: 5rem;" class="button is-info is-inverted is-outlined is-large is-fullwidth">Sign up now</button>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    // Initialize all div with carousel class
    bulmaCarousel.attach('#slider-show', {
      loop: true,
      slidesToShow: 2,
      navigation: false,
      navigationKeys: false,
      pagination: null,
      autoplay: true,
      pauseOnHover: false
    });
  });
</script>
