<nav class="navbar is-spaced is-dark becomes-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your anime
      </h1>
      <h2 class="subtitle">
        Yours alone.
      </h2>
    </div>
  </div>
</section>
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        What makes us different
      </h1>
      <div class="columns has-text-centered jumbo">
        <div class="column">
          <i class="material-icons is-large">share</i>
          <h4 class="subtitle">Create several queues, share them.</h4>
          <p>
            Don't limit yourself to only one list!
            Create lists for what you're watching, what you're planning to watch, etc.
            Be in control of how you organize your anime.
          </p>
        </div>
        <div class="column">
          <i class="material-icons is-large">group_work</i>
          <h4 class="subtitle">Make recommendations.</h4>
          <p>
            Anything you want to share to your friend? Your partner? Your family? A stranger?
            Easily share a show, an episode, anything that's viewable.
          </p>
        </div>
        <div class="column">
          <i class="material-icons is-large">format_paint</i>
          <h4 class="subtitle">Personalize your interface.</h4>
          <p>
            Tired of seeing the stock theme? Choose how the site looks like from a palette
            of preset colours! You can also have more control for this too!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Newest shows
      </h1>
    </div>
  </div>
</section>
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest episodes
      </h1>
    </div>
  </div>
</section>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Convinced?
      </h1>
      <div class="columns" style="width: 60%; margin: 0 auto;">
        <button style="margin-top: 10px;" class="button is-primary is-inverted is-outlined is-large is-fullwidth">Sign up now</button>
      </div>
    </div>
  </div>
</section>