<% url = @login_url if !@login_url.nil? %>
<% url = '/login' if url.nil? %>
<% error_cont_id = 'error-message' %>

<div class="vertical-center">
    <div class="wrapper">
        <div id="login-container" class="text-center">
            <img src="/img/tanoshimu.png" class="hero-image back"/>
            <h3 title='Means "to have fun" (楽しむ) in Japanese.'>Tanoshimu ・ Login</h3>
            <p>
                Welcome! Please enter your username and password below.
            </p>

            <form id="login-form" onsubmit="return login('<%= error_cont_id %>')">
                <div id="login-error" class="text-center mobile">
                    <div class="login-register-error">
                        <p id="error-message"></p>
                    </div>
                </div>

                <input type="text" id="username" class="login" name="username" placeholder="your username"/>
                <input type="password" id="password" class="login" name="password" placeholder="your password"/>

                <div id="login-error" class="text-center desktop">
                    <div class="login-register-error">
                        <p id="<%= error_cont_id %>"></p>
                    </div>
                </div>

                <button class="btn" value="login" id="">login</button>
            </form>

        </div>
    </div>
</div>