<% url = @login_url if !@login_url.nil? %>
<% url = '/login' if url.nil? %>
<% error_cont_id = 'error-message' %>
<% wait_cont_id = 'waiting-message' %>
<% succ_cont_id = 'success-message' %>

<div class="vertical-center">
    <div class="wrapper">
        <div id="login-container" class="text-center">
            <img src="/img/tanoshimu.png" class="hero-image back"/>
            <h3 title='Means "to have fun" (楽しむ) in Japanese.' >Tanoshimu ・ Hi there!</h3>
            <p style="display: none;" >
                Welcome! Please enter your username and password below.
            </p>

            <form style="display: none;" id="login-form" onsubmit="return login('<%= error_cont_id %>', '<%= wait_cont_id %>', '<%= succ_cont_id %>', this.getAttribute('id'))">
                <div id="login-messages" class="text-center">
                    <div class="login-register-error">
                        <p id="error-message"></p>
                    </div>
                    <div class="login-register-waiting">
                        <p id="waiting-message"></p>
                    </div>
                    <div class="login-register-success">
                        <p id="success-message"></p>
                    </div>
                </div>

                <input type="text" id="username" class="login" name="username" placeholder="your username"/>
                <input type="password" id="password" class="login" name="password" placeholder="your password"/>
                <br>

                
                <!-- <button class="btn" value="login" id="">login</button> -->
            </form>
            <div class="login-register-error">
                    <p id="error-message">
                        We are currently experiencing issues with our servers. Please come back soon!
                    </p>
                </div>

        </div>
    </div>
</div>