<div>
    <style type="text/css">
        .in-maintenance::after {
            background: url(/img/in-maintenance.jpg);
            opacity: 0.4;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <div class="vertical-center in-maintenance">
        <div class="wrapper">
        <div class="center">
            <h4>HaveFun (Tanoshimu) - In maintenance</h4>
            <p class="catch-phrase">
                We are currently in maintenance. We appolozige for the incovenience.
            </p>

            <div class="container">
                <div class="container">
                    <div class="row">
                        <button class="btn btn-floating" value="reload" id="reload">
                            <i class="material-icons prefix">loop</i>
                            Reload
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript">
            $('document').ready(function() {
                $('#reload').on('click', function(e) {
                    document.location.reload();
                });
            });
        </script>
        
    </div>
</div>

