<div>
    <style type="text/css">
        
    </style>
    <div class="vertical-center">
        <div class="wrapper">
        <div class="center">
            <h4>HaveFun (Tanoshimu) - In maintenance</h4>
            <p class="catch-phrase">
                We are currently in maintenance. We appolozige for the incovenience.
            </p>

            <div class="container">
                <div class="container">
                    <div class="row">
                        <button class="btn btn-floating" value="login" id="submit">
                            <i class="material-icons prefix">loop</i>
                            Reload
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript">
            
        </script>
        
    </div>
</div>

