<span class="locale-switcher" locale-switcher="en"><%= t('lang.en') %></span>・
<span class="locale-switcher" locale-switcher="fr"><%= t('lang.fr') %></span>・
<span class="locale-switcher" locale-switcher="jp"><%= t('lang.jp') %></span>
